<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/auth/signup_login.css" />
    <link rel="stylesheet" href="/includes/header.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title><%= pageTitle %></title>
</head>

<body>
    <%- include("../includes/header.ejs") %>
        <section class="signup__section">
            <% if (errorMessage) { %>
                <div class="user-message user-message--error">
                    <%= errorMessage %>
                </div>
                <% } %>
                    <form action="/admin/login" method="post">
                        <div class="form__div">
                            <label for="email-Id"><b>Email-Id / PID</b></label>
                            <input type="text" name="uname" value="<% if (errorMessage) { %><%= uname %><% } %>" required />
                        </div>
                        <div class="form__div">
                            <label for="password"><b>Password</b></label>
                            <input type="password" name="password" value="<% if (errorMessage) { %><%= password %><% } %>" minlength="8" maxlength="15" required/>
                        </div>
                        <div class="form__div">
                            <button type="submit" class="submit__btn">Login</button>
                        </div>
                    </form>
        </section>
</body>

</html>