<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/clientIssuedBooks.css" />
    <link rel="stylesheet" href="/includes/header.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title><%= pageTitle %></title>
</head>

<body>
    <%- include("../includes/header.ejs") %>

        <main class="main-issued">
            <% if (books.length> 0) { %>
                <div class="grid">
                    <% for (let book of books) { %>
                        <section class="issued-book__section">
                            <div class="title">
                                <h3>
                                    <%= book.title %>
                                </h3>
                            </div>
                            <div class="info">
                                <div class="info_childone">
                                    <div>
                                        <p>
                                            <%= book.description %>
                                        </p>
                                    </div>
                                    <div class="child_childinfo">
                                        <div>
                                            <h6>Page Count:</h6>
                                            <p>
                                                <%= book.pageCount%>
                                            </p>
                                        </div>
                                        <div>
                                            <h6>Langauge:</h6>
                                            <p>
                                                <%= book.language %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="info_childtwo">
                                    <img src="<%= book.image %>" alt="<%= book.title %>" />
                                </div>
                            </div>
                            <div class="link">
                                <a href="/client/returnBook/<%= book.isbn %>" class="user_options">Barcode for Returning</a>
                            </div>
                        </section>
                        <% } %>
                </div>
                <% } else { %>
                    <section class="error__section">
                        <h1>No Books Issued</h1>
                        <p> Need new books ? <a href="/client/searchBooks">Search for one</a> </p>
                    </section>
                    <% } %>
</body>

</html>